build
debug
release
GeneratedFiles
x64
x86
.vs
.qmake.stash
*.pro.user
*.autosave
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
/_Bin
/_Obj
/hexeditor.x32
/hexeditor.x64
/hexeditor.x86
/Installer/Release.x64
/Installer/wix
/*.wixobj
