[Desktop Entry]
Type=Application
Version=1.1
Name=HexEditor
GenericName=Hex Editor
Comment=Cross-platform hex editor
Icon=hexeditor
Exec=hexeditor
Terminal=false
Categories=Utility;
StartupNotify=true
